@import "tailwindcss";

:root{
    background-color: #0B192C;
    --replyusername : rgba(0, 156, 255, 0.66)
}

.itsjust{
    @apply flex justify-center items-center;
}

.itsjustbtw{
    @apply flex justify-between items-center;
}
textarea {
  resize: none;
}
.its{
    @apply flex items-center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



button{
  cursor: pointer;
}

.replyuser{
  background-color: var(--replyusername);
}


.Scroller::-webkit-scrollbar {
  display: none;
}
/* Create a CSS file (e.g., EmojiPickerStyles.css) */
