@import "tailwindcss";
:root{
    background-color: #0B192C;
}

.itsjust{
    @apply flex justify-center items-center;
}

.itsjustbtw{
    @apply flex justify-between items-center;
}

.its{
    @apply flex items-center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
  cursor: pointer;
}
